name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  all-cli-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '16.15'
      - run: npm install
      - run: npm run build
      - run: npm run test:unit
      - run: npm run lint
      - run: npm run formatcheck
      # - run: npm run typecheck
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: '16.15'
      - uses: cypress-io/github-action@v2
        with:
          build: npm run build
          start: npm run preview
